@use "/src/sass/base/variables.scss" as v;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-style: inherit;
    font-weight: inherit;
}

html {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: v.$light-color;
}

img {
    display: block;
    max-block-size: 100%;
}

.container {
    padding: 0 v.$container-padding-inline;
    width: 100%;
}