@use "/src/sass/base/variables.scss" as v;

.get_in_touch {
    padding-top: 60px;

    &__form {
        margin-top: 59px;
    }

    &_label {
        display: block;
    }

    &__input {
        width: 100%;
        // margin-top: 8px;
    }

    &__form-question {
        margin-top: 8px;
    }

    &__desc {
        height: 132px;
    }

    &__checkbox {
        margin-top: 20px;

        &__label {
            margin-left: 15px;

            a {
                color: #A22DC6;
                text-decoration: none;
            }
        }
    }

    &__btn {
        margin-top: 20px;

        &:hover {
            border-color: v.$ceramic-color;
            color: v.$ceramic-color;
        }

        &:active,
        &:focus {
            border-color: v.$ceramic-color;
            outline-color: v.$ceramic-color;
        }

        &:disabled {
            border-color: v.$ui-disabled-color;
            color: v.$ui-disabled-color;
        }
    }

    .checkbox {
        // color: v.$dark-color;
        accent-color: v.$dark-color;
    }
}