@use "/src/sass/base/variables.scss" as v;

.header {
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: v.$dark-color;

            span {
                display: block;
                width: 20px;
                height: 20px;
                // font-size: 18px;
                // background-color: v.$light-color;
            }
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    height: 23px;

    span {
        display: block;
        background-color: v.$dark-color;
        width: 20px;
        height: 1px;

    }
}