@use "/src/sass/base/variables.scss" as v;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__nav {
        display: none;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: v.$dark-color;

            span {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }


}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    height: 23px;

    span {
        display: block;
        background-color: v.$dark-color;
        width: 20px;
        height: 1px;

    }
}

@media screen and (min-width:768px) {
    .burger {
        visibility: hidden;
    }

    .header {
        &__nav {
            display: block;
            margin-top: 20px;

            ul {
                display: flex;
                justify-content: center;
                column-gap: 30px;

                padding-left: 0;

                li {
                    list-style-type: none;
                }
            }
        }

        &__link {
            font-size: 20px;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
            text-decoration: none;
            color: v.$dark-color;
        }

    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__nav {
            margin-top: 36px;

            ul {
                column-gap: 60px;
            }
        }

        &__logo {
            width: 150px;
            height: 151px;
        }
    }
}