@use "/src/sass/base/variables.scss" as v;

.promo {
    padding-top: 50px;
    color: v.$dark-color;

    &__potter {
        display: none;
    }

    @media screen and (min-width: 1920px) {
        padding-top: 40px;
    }

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding-inline: 5px;
    }

    &__cta {
        margin-top: 40px;
    }

    &__img {
        margin: 0 auto;
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25)
    }

    &__btn {
        margin: 18px auto 0 auto;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width:768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__cta {
            margin-top: 0px;
        }

        &__img {
            width: 230px;
            height: 321px;
        }

        &__title {
            padding-inline: 0;
            padding-top: 250px;
            padding-left: 71px;
            text-align: left;
            // width: 329px;
        }

        &__btn {
            box-shadow: none;
        }

    }

}

@media screen and (min-width:1200px) {
    .promo {
        position: relative;

        &__potter {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: clamp(450px, 37.5vw, 640px);
            height: 633px;
            object-fit: cover;
        }

        &__title {
            padding-left: 571px;
        }

        &__cta {
            animation-name: slideIn;
            animation-duration: 3s;
            // animation-iteration-count: infinite;
        }
    }

}


@media screen and (min-width:1920px) {
    .promo {
        &__wrapper {
            margin-top: 79px;
        }

        &__img {
            width: 330px;
            height: 460px;
        }

        &__potter {
            // width: 640px;
            height: 900px;
        }

        &__title {
            padding-left: 642px;
            padding-top: 384px;
        }

        &__btn {
            margin: 50px auto 0 auto;
        }
    }

}