@use "/src/sass/base/variables.scss" as v;

.touch {
    padding-top: 60px;

    &__wrapper {
        margin-top: 59px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
    }

    &__input {
        width: 100%;
        height: 48px;
        // margin-top: 8px;
    }

    &__textarea-block {
        margin-top: 8px;
    }

    &__textarea {
        width: 100%;
        height: 132px;
        resize: none;
    }

    &__checkbox-block {
        margin-top: 20px;
        display: flex;
        align-items: center;

        a {
            color: #A22DC6;
            text-decoration: none;
            margin-left: 2px;
        }
    }

    &__checkbox {
        width: 15px;
        height: 15px;
        // vertical-align: middle;
        // color: v.$dark-color;
        accent-color: v.$dark-color;
        margin-right: 15px;
    }

    &__btn {
        margin-top: 20px;
    }

    &__decor {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .touch {


        &__wrapper {
            position: relative;
            margin-top: 45px;
        }

        &__form {
            padding-left: 24px;
            width: 300px;
        }

        &__decor {
            display: block;
            width: 85px;
            height: 85px;
            position: absolute;
            right: -30px;
            bottom: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__wrapper {
            margin-top: 80px;
        }

        &__form {
            padding-left: 40px;
        }

        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        padding-top: 100px;

        &__form {
            padding-left: 147px;
            width: auto;
        }

        &__fieldset {
            display: flex;
            column-gap: 45px;
        }

        &__img {
            width: 100%;
            height: 356px;
        }

        &__input,
        &__textarea {
            width: 300px;
        }

        &__decor {
            right: 75px;
        }
    }
}