@use "/src/sass/base/variables.scss" as v;

.works {
    padding-top: 60px;

    .works__slider-nav {
        display: none;
    }

    &__slider {
        margin-top: 40px;

        .swiper-slide img {
            width: 100%;
        }
    }

    .swiper-pagination {
        bottom: -35px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: v.$dark-color;
        opacity: 1;
        border-radius: 0%;
        -webkit-tap-highlight-color: transparent;

    }

    .swiper-pagination-bullet-active {
        background-color: v.$ceramic-color;
    }
}

@media screen and (min-width: 768px) {
    .works {
        // padding-top: 60px; // 160px 0 160px;

        .swiper-slide img {
            display: block;
            width: 400px;
            margin: 0 auto;
        }

        &__slider {
            margin-top: 45px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .works {
        &__wrapper {
            position: relative;
        }

        &__slider {
            margin: 80px 40px 0 40px;
        }

        .swiper-slide img {
            width: 100%;
            margin: 0;
        }

        .works__slider-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            font-size: 21px;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;

            &:before {
                width: auto;
                margin: 0;
            }
        }

        .icon-left-open {
            left: 13px;
        }

        .icon-right-open {
            right: 13px;
        }

        .swiper-pagination {
            bottom: -30px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .works {
        padding-top: 100px;

        &__slider {
            margin: 80px 85px 0 85px;
        }


        .icon-left-open {
            left: 40px;
        }

        .icon-right-open {
            right: 40px;
        }
    }
}