@use "/src/sass/base/mixins.scss" as m;
@use "/src/sass/base/variables.scss" as v;

.btn-default {
    @include m.button;
    width: 230px;
    height: 50px;
    font-size: 20px;

}

.btn-send {
    @include m.button;
    width: 220px;
    height: 40px;
    font-size: 16px;

    &:focus {
        border: 1px solid v.$ceramic-color;
        outline: 1px solid v.$ceramic-color;
    }

    &:disabled {
        border: 1px solid v.$ui-disabled-color;
        color: v.$ui-disabled-color;
    }
}

.btn-submit {
    @include m.button;
    color: v.$light-color;
    border-color: v.$light-color;
    width: 90px;
    height: 40px;
    font-size: 16px;

    // &:focus {
    //     border: 1px solid v.$ceramic-color;
    //     outline: 1px solid v.$ceramic-color;
    // }

    &:disabled {
        border: 1px solid v.$ui-disabled-color;
        color: v.$ui-disabled-color;
    }
}

@media screen and (min-width:1200px) {
    .btn-default {
        &:hover {
            background-color: v.$dark-color;
            color: v.$light-color;
            box-shadow: none;
        }

        &:active {
            background-color: v.$ui-active-color;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4) inset;
            color: v.$light-color;
            border: none;
        }
    }

    .btn-send {
        &:hover {
            border-color: v.$ceramic-color;
            color: v.$ceramic-color;
        }

        &:active {
            border: 1px solid v.$ceramic-color;
            outline: 1px solid v.$ceramic-color;
        }
    }

}

@media screen and (min-width:1920px) {
    .btn-default {
        width: 330px;
        height: 60px;
    }
}